 .navbar{
  background-color:  #f70043 !important;
}
.nav-image{
  width: 20px;
height: 20px;

}
.nav-item{
  margin-right: 96px;
}
.nav-link{
  color: #ffffff!important;
  font-weight: bold;
}
.nav-link:hover{
  background-color:  #eab309 ;
}
/*carousel part*/
.carousel-part .banner-1{
    background: linear-gradient(rgb(109 28 82 / 37%), rgb(33 86 74 / 67%)), url("../image/25f39a3d-11be-4fee-87a6-c9e654f02014.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 250px;
}
.carousel-part .banner-2{
    background: linear-gradient(rgb(109 28 82 / 37%), rgb(33 86 74 / 67%)), url('../image/ImageForNews_728082_16659785000311587.webp') center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 250px;
}
.carousel-part .banner-3{
    background: linear-gradient(rgb(109 28 82 / 37%), rgb(33 86 74 / 67%)), url("../image/blue-covid-banner.webp") center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 250px;
}
 .carousel-part .owl-dots {
    position: absolute;
    bottom: 0;
    top: auto;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }

.carousel-part .item h1{
  color: white;
  font-weight: bold;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 100px;
}
.download_button:hover{
  background-color:  #f70043 ;

}

.buttonClass {
  font-size:17px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:2px;
  color:#505739;
  border-color:#333029;
  font-weight:bold;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  text-shadow: 0px 1px 0px #ffffff;
  background:#fff;
  padding: 15px;
  text-decoration: none;
}

.buttonClass:hover {
  background:  #f70043 ;
  color: #0000;
}
/*about section*/
.about-section{
  background: #fff;
  padding: 80px 50px;
  position: relative;
  margin: 0 70px;
    margin-top: 0px;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
  border-radius: 60px;
  margin-top: -130px;
}
.about-heading{
  padding-top: 252px;
}
.about-heading h1{
  font-size: 57px;
  font-weight: bold;
}
.about-heading p{
  font-size: 21px;
  margin-bottom: 29px;
}


.buttonClass2 {
  font-size:20px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:rgba(23, 60, 99, 1);
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  text-shadow:inset 0px 1px 0px #528ecc;
  background:linear-gradient(rgba(18, 56, 95, 1), rgba(9, 27, 46, 1));
  padding: 15px;
  text-decoration: none;

}

.buttonClass2:hover {
  background: #f70043 ;
color: #fff;
}
.about-image{
  padding-top: 120px;
}
/*corona-section*/
.section3{
  margin-top: 120px;
}
.corona-image{
  width: 100%;
}
.section3-heading{
padding-top: 120px;

}
/*carousel-cardpart*/
.card-headding{
  min-height: 500px!important;

}
.carousel-cardpart{
  margin-top: 120px;
}
.carousel-cardpart h2{
  text-transform: uppercase;
font-size: 45px;
color: #353d47;
line-height: 50px;
font-weight: bold;
padding: 0;

}
.carousel-cardpart p{
  padding-top: 5px;

}
.project-bg{
  background:linear-gradient(rgb(109 28 82 / 37%), rgb(33 86 74 / 67%)), url('../image/25f39a3d-11be-4fee-87a6-c9e654f02014.jpg');
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
padding-top: 125px;
padding-bottom: 20px;
margin-top: 30px;
padding: 80px 50px;
position: relative;
margin: 0 35px;
  margin-top: 0px;
box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
border-radius: 60px;
margin-top:29px;
}
 .card-headding h3{
   color: #ffff;
   font-weight: bold;
   padding-bottom: 10px;
 }
 .card-headding p{
   color: #ffff;
   font-weight: bold;
   padding-bottom: 10px
 }
 .card-headding2{
  padding-bottom: 20px!important;
 }
 /*cases-section*/
 .CoronavirusCases-section{
   margin-top: 120px;
 }
 .title-bar h2 {
  text-transform: uppercase;
  font-size: 45px;
  color: #353d47;
  line-height: 50px;
  font-weight: bold;
  padding: 0;
  display: inline-block;
}
 .latest {
  margin-top: 30px;
  background: #fff;
  padding: 25px 25px 0px 25px;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.20);
  margin-bottom: 70px;
  padding-bottom: 20px;
}
 .latest img{
   width: 100%;
  height: auto;
  padding-bottom: 20px;
 }
 .nostrud{
   position: relative;
   padding-top: 40px;
   padding-bottom: 20px;
 }
 .nostrud::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  background: url('../image/corona_icon.png');
  bottom: -60px;
  width: 80px;
  height: 81px;
  text-align: center;
  margin: 0 auto;
}
.buttonClass3 {
  font-size:20px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:rgba(23, 60, 99, 1);
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  text-shadow:inset 0px 1px 0px #528ecc;
  background:linear-gradient(rgba(18, 56, 95, 1), rgba(9, 27, 46, 1));
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;

}

.buttonClass3:hover {
  background: #f70043 ;
color: #fff;
}
/*doctorsay-section*/
.doctors-section{
  margin-top: 120px;

}
.doctors-section h2{
  text-transform: uppercase;
font-size: 45px;
color: #353d47;
line-height: 50px;
font-weight: bold;
padding: 0;

}

  .reader{
  margin-top: 84px;
  background: #fff;
  padding: 0px 30px 60px 30px;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.20);
  border-radius: 10px;
  transition: ease-in all 0.5s;
  margin-bottom: 30px
  }
  .doctor-image {
  border-radius: 50%;
  box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
  margin-top: -50px;
}
.reader h3 {
  color: #151515;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  padding-top: 42px;
  text-transform: uppercase;
}
.reader p {
  padding: 20px 0 40px 0;
  color: #0f100d;
  line-height: 28px;
  font-weight: normal;
}
/*update-section*/
.update-section{
margin-top: 120px;
}
.update-section h2{
  text-transform: uppercase;
  font-size: 45px;
  color: #353d47;
  line-height: 50px;
  font-weight: bold;
  padding: 0;
}
.update-bg{
background: url('../image/ever_bg.jpg');
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
padding: 80px 0;
margin-top: 50px;
}
.subsci_btn{
font-size: 21px;
transition: ease-in all 0.5s;
text-transform: uppercase;
color: #fff;
font-weight: bold;
line-height: 82px;
height: 82px;
max-width: 402px;
width: 100%;
display: block;
border: inherit;
background: #0a264a;
border-radius: 50px;
margin: 0 auto;
  margin-top: 0px;
margin-top: 30px;
transition: 0.5s all;
}
.subsci_btn:hover{
  background-color: #ea1a09;
}
.newsl {
  text-transform: uppercase;
  width: 95%;
  height: 87px;
  background: transparent;
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  box-shadow: inherit;
  padding: 0 25px;
  border: #fff solid 1px;
  border-radius: 50px;
  margin-left: 20px;
}
/*footer-part*/
.footer-part{
  padding-top: 80px;
  background: #111111;
  text-align: center;
}

.footer-list h3{
  color: #fff;
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 23px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-list ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #979793;
font-size: 17px;
line-height: 18px;
padding-bottom: 10px;
}
.footer-list a{
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #979793;
font-size: 17px;
line-height: 18px;
padding-bottom: 10px;
text-decoration: none;
}
.footer-list p{
  color: #fff;
  text-align: left;
  margin-bottom: 15px;
}
.copyright {
  margin-top: 60px;
  padding-bottom: 20px;
}
.copyright p{
  border-top: #d1d1d1 solid 1px;
padding-top: 20px;
color: #d1d1d1;
font-size: 17px;
line-height: 22px;
text-align: center;
font-weight: normal;
}
.copyright a{
  color: #979793;
  text-decoration: none;
}
.footer-list a:hover{
  color:  #ea1a09 ;
  font-size: 20px;
}
.copyright a:hover{
  color:  #ea1a09 ;
  font-size: 50px;
}
